<section>
    <mat-card>
        <mat-card-content>
            <div class="header">
                <span>Contacts</span>
                <button (click)="onNoClick()"><mat-icon>close</mat-icon></button>
            </div>
            <div class="all-contacts">
                @for (contact of contacts; track contacts) {
                <div class="contacts">
                    <span class="name">{{ contact.firstname }} {{ contact.lastname }}
                        <div><img src="./../../../assets/img/edit.png" (click)="openEditContactDialog(contact)"><img src="./../../../assets/img/delete.png" (click)="deleteContact(contact.id)"></div>
                    </span>
                    <span class="mail">{{ contact.mail }}</span>
                    <hr>
                </div>
                }
            </div>
            <button class="new-contact" (click)="openNewContactDialog()">Add new contact</button>
        </mat-card-content>
    </mat-card>
</section>