<section>
    <mat-card>
        <mat-card-content>
            <h1>Login</h1>
            <form>
                <span>Username</span>
                <input>
                <div class="name-container">
                    <div>
                        <span>Firstname</span>
                        <input>
                    </div>
                    <div>
                        <span>Lastname</span>
                        <input>
                    </div>
                </div>
                <span>E-Mail</span>
                <input>
                <span>Password</span>
                <input>
                <div class="button-container">
                    <button class="register" routerLink="">Register</button>
                </div>
            </form>
        </mat-card-content>
    </mat-card>
</section>