nav {
    width: 100vw;
    background-color: #1e1e1e;
    height: 100px;

    div {
        padding-left: 20px;
        padding-right: 20px;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        span {
            font-size: 18px;
        }

        div {
            display: flex;
            gap: 16px;

            mat-icon {
                height: 32px;
                width: 32px;
                transition: scale 225ms ease-in-out;

                &:hover {
                    cursor: pointer;
                    scale: 1.15;
                }
            }
        }
    }
}