<section>
    <mat-card>
        <mat-card-content>
            <div class="header">
                <span>Contacts</span>
                <button (click)="onNoClick()"><mat-icon>close</mat-icon></button>
            </div>
            <div class="content">
                <span>First name</span>
                <input type="text" name="firstname" [(ngModel)]="newContact.firstname">
                <span>Last name</span>
                <input type="text" name="lastname" [(ngModel)]="newContact.lastname">
                <span>E-Mail</span>
                <input type="email" name="mail" [(ngModel)]="newContact.mail">
            </div>
            <div class="button-container">
                <button class="add" (click)="addContact()">Add</button>
                <button class="cancel" (click)="onNoClick()">Cancel</button>
            </div>
        </mat-card-content>
    </mat-card>
</section>
