<section>
    <mat-card>
        <mat-card-content>
            <div class="header">
                <span>Contacts</span>
                <button (click)="onNoClick()"><mat-icon>close</mat-icon></button>
            </div>
            <div class="content">
                <span>First name</span>
                <input>
                <span>Last name</span>
                <input>
                <span>E-Mail</span>
                <input>
            </div>
            <div class="button-container">
                <button class="add">Add</button>
                <button class="cancel" (click)="onNoClick()">Cancel</button>
            </div>
        </mat-card-content>
    </mat-card>
</section>