<section>
    <mat-card>
        <mat-card-content>
            <div class="header">
                <span>Task</span>
                <button (click)="onNoClick()"><mat-icon>close</mat-icon></button>
            </div>
            <div class="content">
                <span>Title:</span>
                <span class="info">{{ task.title }}</span>
                <span>Description:</span>
                <span class="info">{{ task.description }}</span>
                <span>Priority:</span>
                <div class="priority-container"><div class="priority-badge" [ngStyle]="{'background-color': getPriorityColor(task.priority)}"></div>{{ task.priority }}</div>
                <span>Due date:</span>
                <span class="info">{{ task.due_date }}</span>
                <span>Assigned to:</span>
            </div>
            <div class="button-container">
                <button (click)="onNoClick()">Edit</button>
                <button (click)="onNoClick()">Close</button>
            </div>
        </mat-card-content>
    </mat-card>
</section>
