<section>
    <mat-card>
        <mat-card-content>
            <div class="header">
                <span>Task</span>
                <button (click)="onNoClick()"><mat-icon>close</mat-icon></button>
            </div>
            <div class="content">
                <span>Title:</span>
                <span class="info">{{ task.title }}</span>
                <span>Description:</span>
                <span class="info">{{ task.description }}</span>
                <span>Priority:</span>
                <div class="priority-container">
                    <div class="priority-badge" [ngStyle]="{'background-color': getPriorityColor(task.priority)}"></div>
                    {{ task.priority }}
                </div>
                <span>Due date:</span>
                <span class="info">{{ task.due_date }}</span>
                <span>Assigned to:</span>
                <ul>
                    <li *ngFor="let contact of getAssignedContacts()"><b>{{ contact.firstname }}
                            {{contact.lastname}}</b></li>
                </ul>
            </div>
            <div class="button-container">
                <button (click)="openEditTaskDialog(task)"><img src="./../../../assets/img/edit.png">Edit</button>
                <button (click)="deleteTask(task.id)"><img src="./../../../assets/img/delete.png">Delete</button>
            </div>
        </mat-card-content>
    </mat-card>
</section>