section {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 12px;
}

mat-card {
    height: fit-content;
    width: 500px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
        0 8px 10px 1px rgba(0, 0, 0, 0.14),
        0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

mat-card-content {
    display: flex;
    flex-direction: column;
    color: #18171c;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 24px;
    font-size: 18px;
    font-weight: 700;

    button {
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
        background-color: transparent;
        cursor: pointer;
        transition: scale 225ms ease-in-out;
        border-radius: 100%;
        outline: none;

        &:hover {
            scale: 1.05;
        }
    }
}

.content {
    display: flex;
    flex-direction: column;
    gap: 15px;

    input {
        border: none;
        border-bottom: 1px solid #18171c;
    }

    input:focus {
        outline: none;
    }

    textarea {
        border: none;
        border-bottom: 1px solid #18171c;
        resize: none;
    }

    textarea:focus {
        outline: none;
    }
}

.priority-container {
    padding-left: 20px;
    font-size: 18px;
    font-weight: 700;
    display: flex;
    gap: 20px;
    align-items: center;

    .priority-badge {
        height: 18px;
        width: 18px;
        background-color: #E0465E;
        border-radius: 100%;
    }
}

.info {
    padding-left: 20px;
    font-size: 18px;
    font-weight: 700;
}

.button-container {
    padding-top: 48px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 24px;

    button {
        background-color: transparent;
        border: 2px solid #18171c;
        border-radius: 20px;
        padding: 16px;
        transition: background-color 225ms ease-in-out;
        font-weight: 700;

        &:hover {
            cursor: pointer;
            background-color: #18171c;
            color: white;
        }
    }
}