section {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 12px;
}

mat-card {
    height: fit-content;
    width: 500px; 
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14),
    0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

mat-card-content {
    display: flex;
    flex-direction: column;
    color: #18171c;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 24px;
    font-size: 18px;
    font-weight: 700;

    button {
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
        background-color: transparent;
        cursor: pointer;
        transition: scale 225ms ease-in-out;
        border-radius: 100%;

        &:hover {
            scale: 1.05;
        }
    }
}

.content {
    display: flex;
    flex-direction: column;
    gap: 15px;
    
    input {
        border: none;
        border-bottom: 1px solid #18171c;
    }

    input:focus {
        outline: none;
    }

    textarea {
        border: none;
        border-bottom: 1px solid #18171c;
        resize: none;
    }

    textarea:focus {
        outline: none;
    }
}

mat-radio-group {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

.button-container {
    padding-top: 48px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 24px;

    button {
        background-color: transparent;
        border: 1px solid #18171c;
        border-radius: 20px;
        padding: 16px;
        transition: background-color 225ms ease-in-out;

        &:hover {
            cursor: pointer;
            background-color: #18171c;
            color: white;
        }
    }
}

.mat-radio-button.high .mat-radio-checked .mat-radio-inner-circle {
    background-color: #E0465E;
}

.mat-radio-button.medium.mat-radio-checked .mat-radio-inner-circle {
    background-color: #FAAA49;
}

.mdc-radio__outer-circle.low{
    background-color: #1EC779;
}

.mat-mdc-radio-button.mat-accent.high {
    --mdc-radio-disabled-selected-icon-color: black;
    --mdc-radio-disabled-unselected-icon-color: black;
    --mdc-radio-unselected-hover-icon-color: #18171c;
    --mdc-radio-unselected-icon-color: rgba(0, 0, 0, 0.54);
    --mdc-radio-unselected-pressed-icon-color: rgba(0, 0, 0, 0.54);
    --mdc-radio-selected-focus-icon-color: #E0465E;
    --mdc-radio-selected-hover-icon-color: #E0465E;
    --mdc-radio-selected-icon-color: #E0465E;
    --mdc-radio-selected-pressed-icon-color: #E0465E;
    --mat-radio-ripple-color: black;
    --mat-radio-checked-ripple-color: #E0465E;
    --mat-radio-disabled-label-color: rgba(0, 0, 0, 0.38);
}

html .mat-accent.high {
    --mat-slider-ripple-color: #E0465E;
    --mat-slider-hover-state-layer-color: rgba(255, 64, 129, 0.05);
    --mat-slider-focus-state-layer-color: rgba(255, 64, 129, 0.2);
    --mdc-slider-handle-color: #E0465E;
    --mdc-slider-focus-handle-color: #E0465E;
    --mdc-slider-hover-handle-color: #E0465E;
    --mdc-slider-active-track-color: #E0465E;
    --mdc-slider-inactive-track-color: #E0465E;
    --mdc-slider-with-tick-marks-inactive-container-color: #E0465E;
    --mdc-slider-with-tick-marks-active-container-color: white;
}

.mat-mdc-radio-button.mat-accent.medium {
    --mdc-radio-disabled-selected-icon-color: black;
    --mdc-radio-disabled-unselected-icon-color: black;
    --mdc-radio-unselected-hover-icon-color: #18171c;
    --mdc-radio-unselected-icon-color: rgba(0, 0, 0, 0.54);
    --mdc-radio-unselected-pressed-icon-color: rgba(0, 0, 0, 0.54);
    --mdc-radio-selected-focus-icon-color: #FAAA49;
    --mdc-radio-selected-hover-icon-color: #FAAA49;
    --mdc-radio-selected-icon-color: #FAAA49;
    --mdc-radio-selected-pressed-icon-color: #FAAA49;
    --mat-radio-ripple-color: black;
    --mat-radio-checked-ripple-color: #FAAA49;
    --mat-radio-disabled-label-color: rgba(0, 0, 0, 0.38);
}

html .mat-accent.medium {
    --mat-slider-ripple-color: #FAAA49;
    --mat-slider-hover-state-layer-color: rgba(255, 64, 129, 0.05);
    --mat-slider-focus-state-layer-color: rgba(255, 64, 129, 0.2);
    --mdc-slider-handle-color: #FAAA49;
    --mdc-slider-focus-handle-color: #FAAA49;
    --mdc-slider-hover-handle-color: #FAAA49;
    --mdc-slider-active-track-color: #FAAA49;
    --mdc-slider-inactive-track-color: #FAAA49;
    --mdc-slider-with-tick-marks-inactive-container-color: #FAAA49;
    --mdc-slider-with-tick-marks-active-container-color: white;
}

.mat-mdc-radio-button.mat-accent.low {
    --mdc-radio-disabled-selected-icon-color: black;
    --mdc-radio-disabled-unselected-icon-color: black;
    --mdc-radio-unselected-hover-icon-color: #18171c;
    --mdc-radio-unselected-icon-color: rgba(0, 0, 0, 0.54);
    --mdc-radio-unselected-pressed-icon-color: rgba(0, 0, 0, 0.54);
    --mdc-radio-selected-focus-icon-color: #1EC779;
    --mdc-radio-selected-hover-icon-color: #1EC779;
    --mdc-radio-selected-icon-color: #1EC779;
    --mdc-radio-selected-pressed-icon-color: #1EC779;
    --mat-radio-ripple-color: black;
    --mat-radio-checked-ripple-color: #1EC779;
    --mat-radio-disabled-label-color: rgba(0, 0, 0, 0.38);
}

html .mat-accent.low {
    --mat-slider-ripple-color: #1EC779;
    --mat-slider-hover-state-layer-color: rgba(255, 64, 129, 0.05);
    --mat-slider-focus-state-layer-color: rgba(255, 64, 129, 0.2);
    --mdc-slider-handle-color: #1EC779;
    --mdc-slider-focus-handle-color: #1EC779;
    --mdc-slider-hover-handle-color: #1EC779;
    --mdc-slider-active-track-color: #1EC779;
    --mdc-slider-inactive-track-color: #1EC779;
    --mdc-slider-with-tick-marks-inactive-container-color: #1EC779;
    --mdc-slider-with-tick-marks-active-container-color: white;
}